.p1_first_div{
    max-height: 20vh;
    display: flex;
    justify-content: space-between;
    padding-left: 25vw;
    padding-right: 25vw;
    padding-top: 2vh;
}

.d1{
    
    font-size: 2.2vw;
    
}

.d2{
    margin-top: -1.5vh;
    font-size: 1.3vw;
}

.d3{
    font-size: 0.8vw;
}

.middle_img{
    height: 5.5vw;
    width: 5.5vw;
}

.wrongticker{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 1000px;
    background-color: rgba(89, 141, 121, 0.5);
    align-items: center;
    margin: 4vh auto;
    border: 2px solid rgb(214, 162, 160); /* Same color as background */
    border-radius: 10px; 
}

